<!DOCTYPE html>
<html>
<head>
    <title>Stations List</title>
</head>
<body>
<h1>Stations List</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Elevation</th>
        <th>State</th>
        <th>GSN Flag</th>
        <th>HCN/CRN Flag</th>
        <th>WMO ID</th>
    </tr>
    {% for station in stations %}
    <tr>
        <td>{{ station.id }}</td>
        <td>{{ station.name }}</td>
        <td>{{ station.latitude }}</td>
        <td>{{ station.longitude }}</td>
        <td>{{ station.elevation }}</td>
        <td>{{ station.state }}</td>
        <td>{{ station.gsn_flag }}</td>
        <td>{{ station.hcn_crn_flag }}</td>
        <td>{{ station.wmo_id }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>